*,
:after,
:before {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  position: relative;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Roboto";
  font-weight: 400;
}
a {
  text-decoration: none;
  color: gray;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
}
